# --- Segurança e Configuração Local ---
.env

# --- Dumps e Backups (Ignora dados, mantém a pasta) ---
# Ignora arquivos de backup
*.sql
*.sql.usado
ferramentas/sql_dump_restore/*.sql
ferramentas/sql_dump_restore/*.usado

# Exceção: Permite o arquivo .gitkeep para que a pasta suba pro GitHub
!ferramentas/sql_dump_restore/.gitkeep

# --- Volumes e Dados do Docker ---
mariadb_data/
glpi_files/
glpi_plugins/
glpi_config/
glpi_logs/
glpi_marketplace/

# --- Arquivos de Sistema/IDE ---
.DS_Store
.idea/
.vscode/